{% extends "base.html" %} {% load static %} {% block content %}
<p><a class="btn btn-default" href="{% url 'pre_auth_pre_auth_list' %}">pre_auth Listing</a></p>
<table class="table">
    <tr>
        <td>name</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <td>slug</td>
        <td>{{ object.slug }}</td>
    </tr>
    <tr>
        <td>created</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>last_updated</td>
        <td>{{ object.last_updated }}</td>
    </tr>
    <tr>
        <td>reference_no</td>
        <td>{{ object.reference_no }}</td>
    </tr>
    <tr>
        <td>authority_type</td>
        <td>{{ object.authority_type }}</td>
    </tr>
    <tr>
        <td>provider</td>
        <td>{{ object.provider }}</td>
    </tr>
    <tr>
        <td>ward</td>
        <td>{{ object.ward }}</td>
    </tr>
    <tr>
        <td>date_admitted</td>
        <td>{{ object.date_admitted }}</td>
    </tr>
    <tr>
        <td>date_provided</td>
        <td>{{ object.date_provided }}</td>
    </tr>
    <tr>
        <td>notes</td>
        <td>{{ object.notes }}</td>
    </tr>
    <tr>
        <td>claim</td>
        <td>{{ object.claim }}</td>
    </tr>
    <tr>
        <td>limit</td>
        <td>{{ object.limit }}</td>
    </tr>
    <tr>
        <td>batch_no</td>
        <td>{{ object.batch_no }}</td>
    </tr>
    <tr>
        <td>date_reported</td>
        <td>{{ object.date_reported }}</td>
    </tr>
    <tr>
        <td>admit_days</td>
        <td>{{ object.admit_days }}</td>
    </tr>
    <tr>
        <td>anniv</td>
        <td>{{ object.anniv }}</td>
    </tr>
    <tr>
        <td>daily_bed_limit</td>
        <td>{{ object.daily_bed_limit }}</td>
    </tr>
    <tr>
        <td>type</td>
        <td>{{ object.type }}</td>
    </tr>
    <tr>
        <td>authorised_by</td>
        <td>{{ object.authorised_by }}</td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit pre_auth</a> {% endblock %}