{% extends "base.html" %} {% load static %} {% block content %}
<p><a class="btn btn-default" href="{% url 'pre_auth_pre_auth_list' %}">pre_auth Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Link</td>
        <td>name</td>
        <td>slug</td>
        <td>created</td>
        <td>last_updated</td>
        <td>reference_no</td>
        <td>authority_type</td>
        <td>provider</td>
        <td>ward</td>
        <td>date_admitted</td>
        <td>date_provided</td>
        <td>notes</td>
        <td>claim</td>
        <td>limit</td>
        <td>batch_no</td>
        <td>date_reported</td>
        <td>admit_days</td>
        <td>anniv</td>
        <td>daily_bed_limit</td>
        <td>type</td>
        <td>authorised_by</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.name }}</td>
        <td>{{ object.slug }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.last_updated }}</td>
        <td>{{ object.reference_no }}</td>
        <td>{{ object.authority_type }}</td>
        <td>{{ object.provider }}</td>
        <td>{{ object.ward }}</td>
        <td>{{ object.date_admitted }}</td>
        <td>{{ object.date_provided }}</td>
        <td>{{ object.notes }}</td>
        <td>{{ object.claim }}</td>
        <td>{{ object.limit }}</td>
        <td>{{ object.batch_no }}</td>
        <td>{{ object.date_reported }}</td>
        <td>{{ object.admit_days }}</td>
        <td>{{ object.anniv }}</td>
        <td>{{ object.daily_bed_limit }}</td>
        <td>{{ object.type }}</td>
        <td>{{ object.authorised_by }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'pre_auth_pre_auth_create' %}">Create new pre_auth</a> {% endblock %}