{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/search_box.css' %}">


    <div class="mdh-expandable-search mdl-cell--hide-phone">
        <i class="material-icons">search</i>
{#        <form method="get" action="/members/search">#}
            <input id="search" placeholder="Search" size="1" onchange="searchMembers(this.value)"
                   onkeypress="searchMembers(this.value)" type="text">
{#        </form>#}
    </div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="search_table">
        <tbody id="search_data">
        <tr>
            search data here!
        </tr>
        </tbody>
    </table>
    <div id="results"></div>

    <script>
        //Do ajax call for search box
        function searchMembers(str) {
            {#var link = "http://127.0.0.1:8000/payments/ajax_pre_authorization/"#}

            //ensure to remove previous prepended results to avoid duplicity
            $('#search_data').children().remove();

            console.log(str)
            $.ajax({
                url: "http://127.0.0.1:8000/payments/ajax_pre_authorization/",
                type: "get",
                data: {
                    q: str,
                },
                success: function (json) {
                    console.log(json)
                    if (json.length === 0) {
                        onchange = "searchMembers(this.value)"
                        $("#no_result").show()
                        $('#searchresult').hide()

                    } else {

                        $("#no_result").hide()
                        $('#searchresult').show()
                        var tbody = $('#search_table tbody'),
                            props = ["member_no", "first_name", "surname", "user_id", "gender"]
                        $.each(json, function (i, reservation) {
                            {#$("#results").append(json.toString())#}
                            {#$("#search_table").append(json.toString());#}
                            {#                                            var action = "window.location.href='" + link + json[i].member_no + "'"#}
                            var tr = $("<tr class='clickable-row' data-href='http://127.0.0.1:8000/payments/payments/pre_authorization/create/?member_no=" + json[i].member_no + "'>");
                            $.each(props, function (i, prop) {
                                $('<td class="mdl-data-table__cell--non-numeric">').html(reservation[prop]).appendTo(tr);
                            });
                            tbody.append(tr);
                        });

                    }

                }

            })
        }

    </script>
{% endblock %}