
{% extends "base.html" %}
{% load static %}
{% static  'css/style.css' %}
{% block content %}



    <div class="mdl-grid">
<div class="mdl-cell mdl-cell--8-col mdl-grid">

    <fieldset>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col is-upgraded">

            <form action="#" name="frm">

    <!-- class "mdl-textfield container" -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

    <!-- class "mdl-textfield__input" -->
    <input class="mdl-textfield__input" type="password" name="currentpass" />

    <!-- class "mdl-textfield__label" -->
    <label class="mdl-textfield__label" for="demo-input">Current Password..</label>

  </div>
 </form>
        </div>


        <!----label-two-starts-hear-->

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col is-upgraded">

            <form action="#">

    <!-- class "mdl-textfield container" -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

    <!-- class "mdl-textfield__input" -->
    <input class="mdl-textfield__input" type="password" id="pass-one" />

    <!-- class "mdl-textfield__label" -->
    <label class="mdl-textfield__label" for="demo-input" onkeyup="check()" >New Password..</label>

  </div>
 </form>
        </div>

        <!---ends label -two--->


                <!----label-three-starts-hear-->

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col is-upgraded">

            <form action="#">

    <!-- class "mdl-textfield container" -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

    <!-- class "mdl-textfield__input" -->
    <input class="mdl-textfield__input" type="password" id="pass-two" />

    <!-- class "mdl-textfield__label" -->
    <label class="mdl-textfield__label" for="demo-input" onkeyup="check()" >Confirm new password..</label>
       <span id='message'></span>

  </div>
 </form>

        </div>
<button type="submit"   onclick="validate()" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" >Update Password</button>
        <!---ends label -three--->

    </fieldset>

	  </div>

</div>
</div>
    <script type="text/javascript">
    function validate() {
         if (frm.currentpass.value==""){
     alert("Enter a valid password");
     frm.currentpass.value();
     return false;

         }
    }
    </script>


    <script type="text/javascript">

      var check = function () {
        if (document.getElementById('pass-one').value == document.getElementById('pass-two').value) {
             document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
        }
        else  {
            document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'password not matching';
        }

    }


    </script>



{% endblock %}