<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% load static %}
{% static  'css/style.css' %}
{% block content %}

    <div class="mdl-grid">

 <div class="mdl-cell mdl-cell--2-col mdl-grid flow-page" style="background:#fff; ">


    </div>


        <div class="mdl-cell mdl-cell--8-col mdl-grid flow-page" style="background:#fff; ">
             <i class="material-icons">face</i>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec</p>
    </div>

    </div>
{% endblock %}









</body>
</html>