{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<script>
    $("#prescription_tab").addClass("current").siblings().removeClass("current")
</script>
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-shadow--4dp mdl-cell mdl-cell--10-col">
        <form method="post" id="data">
            {% csrf_token %}


            <div class="mdl-grid ">

                <div id="div_id_patient_no" class="hidden mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                    <label for="id_patient_no" class="mdl-textfield__label mdl-color-text--black">
                            Patient id</label>
                    <div class="controls"><input class="mdl-textfield__input" cols="40" id="id_patient_no" maxlength="100" name="patient_no" value="{% if patient.patient_no != None %}{{ patient.patient_no }}{% endif %}" rows="10" readonly>
                    </div>
                </div>

                <div id="div_id_patient_name" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                    <label for="id_patient_name" class="mdl-textfield__label mdl-color-text--black">
                            Patient Name</label>
                    <div class="controls"><input class="mdl-textfield__input" cols="40" id="id_patient_name" maxlength="100" name="patient_name" value="{% if patient.patient_name != None %}{{ patient.patient_name }}{% endif %}" rows="10" readonly></div>
                </div>

                <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_phone_number">Phone </label>
                                <input class="mdl-textfield__input" type='tel'
                                       id="textfield_phone_number" value="{% if form.phone_number.value != None %}{{ form.phone_number.value }}{% else %}{% if patient.phone != None %}{{ patient.phone }}{% endif %}{% endif %}" name="phone_number"/>
                </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_email">Email Address</label>
                                <input class="mdl-textfield__input" type="email"
                                       id="textfield_email"
                                       value="{% if form.email.value != None %}{{ form.email.value }}{% else %}{% if patient.email != None %}{{ patient.email }}{% endif %}{% endif %}" name="email" required/>
                            </div>

                <script>
                    $('.phone').addClass('is-dirty')

                    $('#textfield_phone_number').on('keyup', function (e) {
                        $('.phone').addClass('is-dirty')
                        var number = $("#textfield_phone_number").intlTelInput("getNumber");
                        $("#textfield_phone_number").val(number)

                    });


                    $("#textfield_phone_number").intlTelInput();

                </script>

            </div>
            <div class="mdl-grid ">
                <div id="div_id_address" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
                    <label for="id_address" class="mdl-textfield__label mdl-color-text--grey">
                            Physical Address</label>
                    <div class="controls"><textarea class="mdl-textfield__input" cols="40" id="id_address" maxlength="400" name="address" rows="10" required="">{% if form.address.value != None %}{{ form.address.value }}{% else %}{% if patient.address != None %}{{ patient.address }}{% endif %}{% endif %}</textarea></div>
                </div>
            </div>
            <div class="mdl-grid ">
                <div id="div_id_prescription" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
                    <label for="id_prescription" class="mdl-textfield__label mdl-color-text--grey">
                            Prescription </label>
                    <div class="controls">
                        <input class="mdl-textfield__input" cols="40" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the medicine you want to search'"
 id="medicationlist" maxlength="100" name="medicationlist" rows="10" placeholder="Enter the medicine you want to search" onkeyup="getsearch(this.value)"/>
                        <br>
                        <textarea class="mdl-textfield__input" cols="40" id="id_prescription" maxlength="400" name="prescription" rows="10" required="">{% if form.prescription.value != None %}{{ form.prescription.value }}{% endif %}</textarea></div>
                        <div id="livesearch"></div>

                </div>


            </div>

<div id="prescriptionlist">
          </div>
            <div class="mdl-grid">
                <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" type="submit">Submit
                    </button>
             &nbsp;   <button class ="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" type="button" id ="sendemail" >Send Prescription
                </button>

            </div>
<div class="mdl-grid">

            </div>

        </form>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<script type="text/javascript">
 var brand =[];
            var results=[];
            var s;
            var clicked =0;
            var sr="";

            $(window).on("load", getdata());
            var patient_id=$("#id_patient_no").val();

function getdata() {
    $.ajax({
        url: "/medication/api/v1/MyDawa/",
        type: "GET",
        success: function (response) {
            s = response;
            for (var i = 0; i < response.length; ++i) {

                //  brand.push(response[i].brand);
            }

           console.log("loaded",patient_id);
               getprescriptiondata(patient_id);


        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        }


    });

}

function getprescriptiondata(patientid) {

    $.ajax({
        url: "/medication/api/v1/MyDawaPrescriptions/",
        type: "get",
        data:{
            search:patientid,
        },
        success: function (response) {
     $("#prescriptionlist").append("Previous Prescriptions-"+"\n");
           for (var i = 0; i < response.length; ++i) {
               console.log("presciption",response.length);


               $("#prescriptionlist").append(response[i].prescription+'\n')

            }

           console.log("entered",response);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        }


    });
}

    function getsearch(val) {
        results = [];
        document.getElementById("livesearch").innerHTML = "";

        if (val.length == 0) {
            document.getElementById("livesearch").innerHTML = "";
            document.getElementById("livesearch").style.border = "0px";
            return;
        }
        console.log(s);
        console.log("val", val);
        if (val.length > 1) {
            for (var i = 0; i < s.length; i++) {
                for (key in s[i]) {
                    if (s[i][key].indexOf(val) != -1) {
                        $("#livesearch").append($("<li>").text(s[i][key]));


                        results.push(s[i]);
                    }
                }
            }

        }


        console.log(results);

    }

 $('#livesearch').on('click', 'li', function() {

     sr = sr + $(this).text() + "\n";
     console.log("sr", sr);

     $('#id_prescription').val(sr)

 });

 var cb = $("input#check");

 if (cb.is(":checked")) {
    console.log("checkbox is checked ");
} else {
    console.log("checkbox is not checked");
}

function clearprescriptionarea(){
     $("#clrbtn").val("");
}

$("#sendemail").click(function(e){

id_patient_no
id_patient_name
textfield_phone_number
textfield_email
id_address
id_prescription
    var patientnumber =$("#id_patient_no").val();
     var patientname = $("#id_patient_name").val();
     var phonenumber = $("#textfield_phone_number").val();
     var email = $("#textfield_email").val();
     var address = $("#id_address").val();
     var prescriptionid= $("#id_prescription").val();

     var prescriptiondata = "patientname"+"  "+patientname+" "+"patientnumber"+" "+patientnumber+"  "+
             "phonenumber"+"  "+phonenumber+"  "+"email"+" "+email+"address"+"  "+address+" "+"prescription"+"  "+prescriptionid;
   var reqbody = {

  "personalizations": [
    {
      "to": [
        {
          "email": "smartsurajit2008@gmail.com"
        }
      ],
      "subject": prescriptiondata,
    }
  ],
  "from": {
    "email": "hello@redpulse.co.ke"
  },
  "content": [
    {
      "type": "text/plain",
      "value": "Prescription"
    }
  ]

   }
   reqbody = JSON.stringify(reqbody);
   console.log('requestbody',reqbody);


$.ajax({
  method: 'POST',
    url: "https://cors-anywhere.herokuapp.com/https://api.sendgrid.com/v3/mail/send",
  data: reqbody,
  dataType: 'json',
  headers: { 'Authorization':'Bearer '+ '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',
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        },

    crossDomain: true
})
.done(function(res) {
  console.log(1, res)
})
.fail(function (e) {
  console.log(2, e.status, e.responseText)
})

 });



</script>
{% endblock %}