{% extends "base.html" %} {% load static %} {% block content %}

    <div class="mdl-grid">


        <div class="mdl-shadow--16dp util-center full-width">
            <div class="mdl-card__title mdl-color--teal-500">
                <h2 class="mdl-card__title-text mdl-color-text--white">Registration Form</h2>
            </div>
            <fieldset disabled>
                <div class="mdl-card__supporting-text full-width">
                    <fieldset id="personal_information" {% if not new %}style="background: #f9e7e714;"
                              readonly{% endif %}>
                        <div class="mdl-grid">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey forminput"
                                       for="textfield_first_name">First Name</label>

                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_first_name" name="first_name"
                                       value="{{ form.first_name.value|default_if_none:"" }}"/>
                            <span style="visibility: visible; "
                                  class="mdl-textfield__error">{{ form.first_name.errors|striptags }}</span>

                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_middle_name">Middle Name</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_middle_name" name="middle_name"
                                       value="{{ form.middle_name.value|default_if_none:"" }}"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.middle_name.errors|striptags }}</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_last_name">Last Name</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_last_name" value="{{ form.last_name.value|default_if_none:"" }}"
                                       name="last_name" required/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.last_name.errors|striptags }}</span>
                            </div>

                        </div>

                        <div class="mdl-grid ">

                            <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_phone">Phone </label>
                                <input class="phone_input mdl-textfield__input" type='tel'
                                       id="textfield_phone_input" value="{{ form.phone.value|default_if_none:"" }}"
                                       name="phone"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.phone.errors|striptags }}</span>
                            </div>


                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_email">Email Address</label>
                                <input class="mdl-textfield__input" type="email"
                                       id="textfield_email"
                                       value="{{ form.email.value|default_if_none:"" }}" name="email"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.email.errors|striptags }}{{ errors.email }}</span>
                            </div>

                        </div>
                    </fieldset>

                    <div class="mdl-grid ">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_postal_address">Postal Address</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_postal_address"
                                   value="{{ form.postal_address.value|default_if_none:"" }}" name="postal_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.postal_address.errors|striptags }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_postal_code">Postal Code</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_postal_code"
                                   value="{{ form.postal_code.value|default_if_none:"" }}" name="postal_code" required/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.postal_code.errors|striptags }}</span>
                        </div>


                    </div>

                    <div class="mdl-grid ">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">

                            <span style="font-size: 12px; "> County  </span> <select
                                style="width: 150px;font-size: 12px; " id="county">

                        </select>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_physical_address">Physical Address</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_physical_address"
                                   value="{{ form.physical_address.value|default_if_none:'' }}"
                                   name="physical_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.physical_address.errors|striptags }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <input class="mdl-textfield__input" id="tbCountries" name="country" type="text"
                                   value="{{ form.country.value|default_if_none:"" }}"
                                   name="country">
                            <label for="country" class="mdl-textfield__label">Country</label>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.country.errors|striptags }}</span>

                        </div>

                    </div>

                    <div class="mdl-grid ">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_dob">Date of Birth</label>
                            {{ form.dob }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.dob.errors|striptags }}</span>
                        </div>
                        <script>
                            $('#textfield_dob').on('change', function (e) {


                                d = new Date($(this).val());
                                var before = moment($(d, 'YYYY-MM-DD'));
                                var age = moment().diff(d, 'years');
                                $('#textfield_age').val(age).parent().addClass("is-dirty");
                            });


                        </script>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_age">Age</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_age" value="{{ form.age.value|default_if_none:"" }}" name="age"
                                   readonly/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.age.errors|striptags }}</span>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_gender">Gender</label>
                            {{ form.gender }}
                        </div>

                        <script>
                            //Toggle the hiding of the female section
                            $(function () {
                                $("#gender").on('change', function (e) {
                                    if ($('#gender').val() != "Male") {
                                        $('#females_').show();

                                    }
                                    else {
                                        $('#females_').hide();

                                    }


                                });
                            })

                        </script>
                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_id_type">ID Type</label>
                            {{ form.id_type }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.id_type.errors|striptags }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_ss_number">Identification No</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_ss_number"
                                   value="{{ form.ss_number.value|default_if_none:"" }}" name="ss_number"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.ss_number.errors|striptags }}{{ errors.id_number }}</span>
                        </div>
                    </div>


            </fieldset>


            {% if not new %}
            <fieldset name="insurance" class="fieldset">
                <legend style="font-weight: bold; font-size: 16px;padding: 17px; ">Emergency contact</legend>
                <div class="mdl-grid ">
                    <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                        <label class="mdl-textfield__label mdl-color-text--grey"
                               for="textfield_emergency_contact">Emergency Contact</label>
                        <input class="mdl-textfield__input" type="text"
                               id="textfield_emergency_contact"
                               value="{{ form.emergency_contact.value|default_if_none:"" }}"
                               name="emergency_contact"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.e_relationship.errors|striptags }}</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                        <label class="mdl-textfield__label mdl-color-text--grey"
                               for="textfield_e_relationship">Relationship to patient</label>
                        <input class="mdl-textfield__input" type="text"
                               id="textfield_e_relationship"
                               value="{{ form.e_relationship.value|default_if_none:"" }}"
                               name="e_relationship"/>
                    </div>
                </div>

                <div class="mdl-grid ">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                        <label class="mdl-textfield__label mdl-color-text--grey"
                               for="textfield_e_contact_address">Address</label>
                        <input class="mdl-textfield__input" type="text"
                               id="textfield_e_contact_address"
                               value="{{ form.e_contact_address.value|default_if_none:"" }}"
                               name="e_contact_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.e_contact_address.errors|striptags }}</span>
                    </div>
                    <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                        <label class="mdl-textfield__label mdl-color-text--grey"
                               for="textfield_e_phone_number">Phone Number</label>
                        <input class="phone_input mdl-textfield__input" type="text"
                               id="textfield_e_phone_number"
                               value="{{ form.e_phone_number.value|default_if_none:"" }}"
                               name="e_phone_number"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.e_phone_number.errors|striptags }}</span>
                    </div>

                </div>
            </fieldset>

        </div>

        </fieldset>

        <div class="mdl-cell mdl-cell--12-col send-button" align="center">
            {% if patient.status == 0 %}

                <button type="submit"
                        onclick="window.location.href='/registration/models/update/{{ patient.patient_no }}'"
                        class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary">
                    Send to Triage
                </button>
            {% else %}
                <button type="submit"
                        class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--grey disabled">
                    Patient is still under treatment
                </button>
            {% endif %}

            <button type="button"
                    onclick="window.location.href='/registration/patient/update/{{ patient.patient_no }}/'"
                    class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary">
                Edit Patient
            </button>
        </div>

    </div>
    </div>

{% endblock %}